{
  "openapi": "3.0.1",
  "info": {
    "title": "Schiphol",
    "version": "1.0.0",
    "description": ".",
    "contact": {
      "email": "max.van.kampen@alicon.nl"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://schiphol.aliconnect.nl/terms/"
  },
  "externalDocs": {
    "description": "Find out more about MyApp",
    "url": "https://aliconnect.nl"
  },
  "servers": [
    {
      "url": "https://aliconnect.nl"
    }
  ],
  "paths": {
    "/js": {
      "get": {
        "operationId": "/aim/js",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "aliconnect_auth": [
              "read:web"
            ]
          }
        ]
      }
    },
    "/login": {
      "get": {
        "operationId": "/aim/",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "aliconnect_auth": [
              "read:web"
            ]
          }
        ]
      }
    },
    "/": {
      "get": {
        "operationId": "def.get",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "post": {
        "operationId": "def.post",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "aim_auth": [
              "admin.readwrite"
            ]
          }
        ]
      }
    },
    "/account": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "account.post",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "emailaddress": {
                    "type": "string",
                    "description": ""
                  },
                  "scope": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "aim_auth": [
              "admin.readwrite"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Authentication"
        ],
        "operationId": "account.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "emailaddress": {
                    "type": "string",
                    "description": ""
                  },
                  "scope": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "aim_auth": [
              "admin.readwrite"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "operationId": "account.delete",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "aim_auth": [
              "admin.readwrite"
            ]
          }
        ]
      }
    },
    "/file({id})": {
      "patch": {
        "tags": [
          "Files"
        ],
        "summary": "Updates a file",
        "operationId": "file_patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "aim_auth": [
              "file.write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Deletes a file",
        "operationId": "file_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of file",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "aim_auth": [
              "file.write"
            ]
          }
        ]
      }
    },
    "/Company": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get list of Company",
        "operationId": "item(Company).find",
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Add a new Company",
        "operationId": "Item(Company).add",
        "requestBody": {
          "description": "Company object that needs to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Company({id})": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Find Company by ID",
        "description": "Returns a single Company object",
        "operationId": "Item(Company,id).get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Company",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Updates a Company with form data",
        "operationId": "Item(Company,id).post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Company",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Keyname": {
                    "title": "Keyname"
                  },
                  "Parent": {
                    "title": "Onderdeel van"
                  },
                  "CompanyName": {
                    "title": "Organisation"
                  },
                  "OfficeLocation": {
                    "title": "Site"
                  },
                  "Department": {
                    "title": "Department"
                  },
                  "BusinessPhones0": {
                    "title": "Telefoon"
                  },
                  "BusinessHomePage": {
                    "title": "Website"
                  },
                  "EmailAddresses1Address": {
                    "title": "Business Email"
                  },
                  "CompanyDescription": {
                    "title": "Company Description"
                  },
                  "Activiteiten": {
                    "title": "Company Activity"
                  },
                  "Employees": {
                    "title": "Employees"
                  },
                  "CompanyFax": {
                    "title": "Company Fax"
                  },
                  "CompanyEmail": {
                    "title": "Company Email"
                  },
                  "CompanyEmailSales": {
                    "title": "Company Email Verkoop"
                  },
                  "CompanyEmailPurchase": {
                    "title": "Company Email Inkoop"
                  },
                  "CompanyEmailService": {
                    "title": "Company Email Service"
                  },
                  "CompanyEmailInvoice": {
                    "title": "Company Email Facturen"
                  },
                  "BusinessAddress": {
                    "title": "Vestigingsadres"
                  },
                  "BusinessAddressStreet": {},
                  "BusinessAddressNumber": {},
                  "BusinessAddressAdd": {},
                  "BusinessAddressPostalCode": {},
                  "BusinessAddressCity": {
                    "title": "Plaats"
                  },
                  "BusinessAddressTown": {},
                  "BusinessAddressState": {},
                  "BusinessAddressCountry": {},
                  "CompanyEmailInvoice1": {
                    "title": "Company Email Facturen"
                  },
                  "CompanyEmailInvoice2": {
                    "title": "Company Email Facturen"
                  },
                  "CompanyEmailInvoice3": {
                    "title": "Company Email Facturen"
                  },
                  "geolocatie": {},
                  "geolocatie2": {},
                  "OtherAddress": {
                    "title": "Post adres"
                  },
                  "OtherAddressStreet": {},
                  "OtherAddressNumber": {},
                  "OtherAddressAdd": {},
                  "OtherAddressPostalCode": {},
                  "OtherAddressCity": {},
                  "OtherAddressTown": {},
                  "OtherAddressState": {},
                  "OtherAddressCountry": {},
                  "KvKnr": {
                    "title": "KvK nummer"
                  },
                  "KvKvestigingsnr": {
                    "title": "Vestigingsnr"
                  },
                  "KvKinschrijving": {
                    "title": "Inschrijving"
                  },
                  "KvKdatum": {
                    "title": "Datum"
                  },
                  "Branche": {
                    "title": "Branche"
                  },
                  "Hoofdcategorie": {
                    "title": "Hoofdcategorie"
                  },
                  "Categorie": {
                    "title": "Categorie"
                  },
                  "Subcategorie": {
                    "title": "Subcategorie"
                  },
                  "BTWnr": {
                    "title": "BTW nummer"
                  },
                  "IBAN": {
                    "title": "IBAN nummer"
                  },
                  "BIC": {
                    "title": "BIC nummer"
                  },
                  "CEO": {
                    "title": "CEO"
                  },
                  "filterproperties": {
                    "title": "Filter eigenschappen"
                  },
                  "properties": {
                    "title": "Extra eigenschappen"
                  },
                  "StartDateTime": {
                    "title": "Volgend overleg"
                  },
                  "StartTijd": {
                    "title": "Starttijd"
                  },
                  "EndDateTime": {
                    "title": "Deadline"
                  },
                  "FinishDateTime": {
                    "title": "Gereed"
                  },
                  "Historie": {
                    "title": "Historie"
                  },
                  "Aandachtspunten": {
                    "title": "Actueel"
                  },
                  "AccountManager": {
                    "title": "Account Manager"
                  },
                  "DebNr": {
                    "title": "Debiteur nummer"
                  },
                  "FactuurKorting": {
                    "title": "Factuur korting"
                  },
                  "VrachtKost": {
                    "title": "Vracht kosten"
                  },
                  "BtwProc": {
                    "title": "BTW Percentage"
                  },
                  "DebSaldo": {
                    "title": "Debiteur Saldo"
                  },
                  "DebLastOrder": {
                    "title": "Laatste order"
                  },
                  "DebYearOrder": {
                    "title": "Jaar bestelling"
                  },
                  "DebState": {
                    "title": "State"
                  },
                  "CredNr": {
                    "title": "Crediteur nummer"
                  },
                  "CredSaldo": {
                    "title": "Crediteur Saldo"
                  },
                  "CredState": {
                    "title": "State"
                  },
                  "Owner": {
                    "title": "Owner"
                  },
                  "hostName": {
                    "title": "Host"
                  },
                  "placeid": {
                    "title": "Place ID"
                  },
                  "purchaseref": {
                    "title": "aliconnect inkoop opdracht"
                  },
                  "ASM": {
                    "title": "Account Sales Manager"
                  },
                  "SalesSupport": {
                    "title": "Sales Support"
                  },
                  "SalesSupport2": {
                    "title": "Sales Support 2"
                  },
                  "Cluster": {
                    "title": "Cluster"
                  },
                  "Children": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Company"
        ],
        "summary": "Updates a Company",
        "operationId": "Item(Company,id).patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Company",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Company object that needs to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Company"
        ],
        "summary": "Deletes a Company",
        "operationId": "Item(Company,id).delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Company",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Company({id})/file": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Adds an attachement to a Company object with form data",
        "operationId": "Item(Company,id).file(post)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Company",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "additionalMetadata": {
                    "type": "string",
                    "description": "Additional data to pass to server"
                  },
                  "file": {
                    "type": "string",
                    "description": "file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "aim_auth": [
              "file.write"
            ]
          }
        ]
      }
    },
    "/Company({id})/children": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get children of Company object by ID",
        "description": "Returns all child objects of a Company object",
        "operationId": "Item(Company,id).children()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Company({id})/references": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get children of Company object by ID",
        "description": "Returns all child objects of a Company object",
        "operationId": "Item(Company,id).references()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Company({id})/Employees": {
      "get": {
        "tags": [
          "Company",
          "Contact"
        ],
        "summary": "Find Company by ID and selects all of schema Contact",
        "description": "Returns a list of Employees",
        "operationId": "Item(Company,id).link(Employees,get)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Adds an attachement to a Company object with form data",
        "operationId": "Item(Company,id).link(Employees,post)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Company",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "additionalMetadata": {
                    "type": "string",
                    "description": "Additional data to pass to server"
                  },
                  "file": {
                    "type": "string",
                    "description": "file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Company({id})/Employees({linkId})": {
      "delete": {
        "tags": [
          "Company",
          "Contact"
        ],
        "summary": "Find Company by ID and selects all of schema Contact",
        "description": "Returns a list of Employees",
        "operationId": "Item(Company,id).link(Employees,delete)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "linkId",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Contact": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get list of Contact",
        "operationId": "item(Contact).find",
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Add a new Contact",
        "operationId": "Item(Contact).add",
        "requestBody": {
          "description": "Contact object that needs to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Contact({id})": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Find Contact by ID",
        "description": "Returns a single Contact object",
        "operationId": "Item(Contact,id).get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Updates a Contact with form data",
        "operationId": "Item(Contact,id).post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "State": {
                    "title": "Functie Status"
                  },
                  "Fav": {
                    "title": "Fav"
                  },
                  "Initials": {
                    "title": "Initials"
                  },
                  "GivenName": {
                    "title": "GivenName"
                  },
                  "FirstName": {
                    "title": "FirstName"
                  },
                  "MiddleName": {
                    "title": "MiddleName"
                  },
                  "Surname": {
                    "title": "Surname"
                  },
                  "Company": {
                    "title": "Company"
                  },
                  "CompanyName": {
                    "title": "CompanyName"
                  },
                  "OfficeLocation": {
                    "title": "OfficeLocation"
                  },
                  "Department": {
                    "title": "Afdeling"
                  },
                  "Manager": {
                    "title": "Manager"
                  },
                  "Assistant": {
                    "title": "Assistant"
                  },
                  "JobTitle": {
                    "title": "JobTitle"
                  },
                  "StartDateTime": {
                    "title": "StartDateTime"
                  },
                  "FinishDateTime": {
                    "title": "FinishDateTime"
                  },
                  "Arbeidsrelatie": {
                    "title": "Contract"
                  },
                  "BusinessPhones0": {
                    "title": "Company Phone"
                  },
                  "BusinessHomePage": {
                    "title": "Company Website"
                  },
                  "EmailAddresses1Address": {
                    "title": "Company Email"
                  },
                  "MobilePhone1": {
                    "title": "Contact Mobile"
                  },
                  "BusinessPhones1": {
                    "title": "Contact Phone"
                  },
                  "EmailAddresses0Address": {
                    "title": "Contact Email"
                  },
                  "BusinessAddress": {
                    "title": "BusinessAddress"
                  },
                  "OtherAddress": {
                    "title": "Post adres"
                  },
                  "EmailAddresses2Address": {
                    "title": "EmailAddresses2Address"
                  },
                  "HomePhones0": {
                    "title": "HomePhones0"
                  },
                  "HomePhones1": {
                    "title": "HomePhones1"
                  },
                  "SpouseName": {
                    "title": "SpouseName"
                  },
                  "Birthday": {
                    "title": "Birthday"
                  },
                  "HomeAddress": {
                    "title": "HomeAddress"
                  },
                  "AfspraakDatum": {
                    "title": "Volgend overleg"
                  },
                  "AfspraakTijd": {
                    "title": "Starttijd"
                  },
                  "AfspraakOnderwerp": {
                    "title": "Onderwerp"
                  },
                  "ResourceName": {
                    "title": "Resource name"
                  },
                  "ResourceType": {
                    "title": "Resource type"
                  },
                  "ResourceAvail": {
                    "title": "Beschikbaarheid"
                  },
                  "ResourcePlan": {
                    "title": "Planbaar"
                  },
                  "verlof": {
                    "title": "Verlof"
                  },
                  "Gebruiker": {
                    "title": "User"
                  },
                  "groupID": {
                    "title": "Usergroup"
                  },
                  "Product": {
                    "title": "Products"
                  },
                  "Children": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Contact"
        ],
        "summary": "Updates a Contact",
        "operationId": "Item(Contact,id).patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Contact object that needs to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Deletes a Contact",
        "operationId": "Item(Contact,id).delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Contact({id})/file": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Adds an attachement to a Contact object with form data",
        "operationId": "Item(Contact,id).file(post)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "additionalMetadata": {
                    "type": "string",
                    "description": "Additional data to pass to server"
                  },
                  "file": {
                    "type": "string",
                    "description": "file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "aim_auth": [
              "file.write"
            ]
          }
        ]
      }
    },
    "/Contact({id})/children": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get children of Contact object by ID",
        "description": "Returns all child objects of a Contact object",
        "operationId": "Item(Contact,id).children()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Contact({id})/references": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get children of Contact object by ID",
        "description": "Returns all child objects of a Contact object",
        "operationId": "Item(Contact,id).references()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Contact({id})/Product": {
      "get": {
        "tags": [
          "Contact",
          "System"
        ],
        "summary": "Find Contact by ID and selects all of schema System",
        "description": "Returns a list of Product",
        "operationId": "Item(Contact,id).link(Product,get)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Adds an attachement to a Contact object with form data",
        "operationId": "Item(Contact,id).link(Product,post)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Contact",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "additionalMetadata": {
                    "type": "string",
                    "description": "Additional data to pass to server"
                  },
                  "file": {
                    "type": "string",
                    "description": "file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Contact({id})/Product({linkId})": {
      "delete": {
        "tags": [
          "Contact",
          "System"
        ],
        "summary": "Find Contact by ID and selects all of schema System",
        "description": "Returns a list of Product",
        "operationId": "Item(Contact,id).link(Product,delete)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "linkId",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Map": {
      "get": {
        "tags": [
          "Map"
        ],
        "summary": "Get list of Map",
        "operationId": "item(Map).find",
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": [
              "map.read"
            ]
          },
          {
            "aim_auth": [
              "map.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Map"
        ],
        "summary": "Add a new Map",
        "operationId": "Item(Map).add",
        "requestBody": {
          "description": "Map object that needs to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Map"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": [
              "map.readwrite"
            ]
          },
          {
            "aim_auth": [
              "map.readwrite"
            ]
          }
        ]
      }
    },
    "/Website": {
      "get": {
        "tags": [
          "Website"
        ],
        "summary": "Get list of Website",
        "operationId": "item(Website).find",
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Website"
        ],
        "summary": "Add a new Website",
        "operationId": "Item(Website).add",
        "requestBody": {
          "description": "Website object that needs to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Website"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Website({id})": {
      "get": {
        "tags": [
          "Website"
        ],
        "summary": "Find Website by ID",
        "description": "Returns a single Website object",
        "operationId": "Item(Website,id).get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Website",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Website"
        ],
        "summary": "Updates a Website with form data",
        "operationId": "Item(Website,id).post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Website",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "state": {
                    "format": "radio",
                    "title": "Status"
                  },
                  "startDT": {
                    "title": "Start",
                    "format": "date"
                  },
                  "endDT": {
                    "title": "End",
                    "format": "date"
                  },
                  "finishDT": {
                    "title": "Publish",
                    "format": "date"
                  },
                  "Domain": {
                    "title": "Domain"
                  },
                  "Description": {
                    "format": "div",
                    "title": "Inleiding"
                  },
                  "BodyHTML": {
                    "format": "div",
                    "title": "Hoofdtekst"
                  },
                  "AccountPrice": {
                    "title": "Account Price"
                  },
                  "BaseColor": {
                    "title": "Base color"
                  },
                  "Slogans": {
                    "format": "textarea",
                    "title": "Slogans"
                  },
                  "Activiteiten": {
                    "format": "textarea",
                    "title": "Company Activity"
                  },
                  "InvoiceRef": {
                    "title": "Factuur referentie"
                  },
                  "InvoiceEmail": {
                    "title": "Factuur email"
                  },
                  "StartDateTime": {
                    "title": "Start"
                  },
                  "EndDateTime": {
                    "title": "End"
                  },
                  "FinishDateTime": {
                    "title": "Publish"
                  },
                  "Children": {},
                  "Master": {
                    "title": "Onderdeel van"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Website"
        ],
        "summary": "Updates a Website",
        "operationId": "Item(Website,id).patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Website",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Website object that needs to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Website"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Website"
        ],
        "summary": "Deletes a Website",
        "operationId": "Item(Website,id).delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Website",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Website({id})/file": {
      "post": {
        "tags": [
          "Website"
        ],
        "summary": "Adds an attachement to a Website object with form data",
        "operationId": "Item(Website,id).file(post)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Website",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "additionalMetadata": {
                    "type": "string",
                    "description": "Additional data to pass to server"
                  },
                  "file": {
                    "type": "string",
                    "description": "file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "aim_auth": [
              "file.write"
            ]
          }
        ]
      }
    },
    "/Website({id})/children": {
      "get": {
        "tags": [
          "Website"
        ],
        "summary": "Get children of Website object by ID",
        "description": "Returns all child objects of a Website object",
        "operationId": "Item(Website,id).children()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Website({id})/references": {
      "get": {
        "tags": [
          "Website"
        ],
        "summary": "Get children of Website object by ID",
        "description": "Returns all child objects of a Website object",
        "operationId": "Item(Website,id).references()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Webpage": {
      "get": {
        "tags": [
          "Webpage"
        ],
        "summary": "Get list of Webpage",
        "operationId": "item(Webpage).find",
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Webpage"
        ],
        "summary": "Add a new Webpage",
        "operationId": "Item(Webpage).add",
        "requestBody": {
          "description": "Webpage object that needs to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webpage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Webpage({id})": {
      "get": {
        "tags": [
          "Webpage"
        ],
        "summary": "Find Webpage by ID",
        "description": "Returns a single Webpage object",
        "operationId": "Item(Webpage,id).get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Webpage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Webpage"
        ],
        "summary": "Updates a Webpage with form data",
        "operationId": "Item(Webpage,id).post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Webpage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "state": {
                    "format": "radio",
                    "title": "Status"
                  },
                  "startDT": {
                    "title": "Start",
                    "format": "date"
                  },
                  "endDT": {
                    "title": "End",
                    "format": "date"
                  },
                  "finishDT": {
                    "title": "Publish",
                    "format": "date"
                  },
                  "News": {
                    "title": "Nieuws",
                    "format": "checkbox"
                  },
                  "Master": {
                    "title": "Onderdeel van"
                  },
                  "Title": {
                    "title": "Title",
                    "format": "text"
                  },
                  "Keywords": {
                    "title": "Zoekwoorden"
                  },
                  "Description": {
                    "format": "textarea",
                    "title": "Inleiding"
                  },
                  "BodyHTML": {
                    "format": "div",
                    "title": "Hoofdtekst"
                  },
                  "File": {
                    "format": "files"
                  },
                  "State": {
                    "format": "radio",
                    "title": "Status"
                  },
                  "StartDateTime": {
                    "title": "Start",
                    "format": "datetime"
                  },
                  "EndDateTime": {
                    "title": "End",
                    "format": "datetime"
                  },
                  "FinishDateTime": {
                    "title": "Publish",
                    "format": "datetime"
                  },
                  "IsSelected": {
                    "title": "Selected",
                    "format": "checkbox"
                  },
                  "Children": {
                    "format": "hidden"
                  },
                  "Chapter": {
                    "format": "hidden"
                  },
                  "Webpage": {
                    "format": "hidden"
                  },
                  "Source": {
                    "title": "Kopie van"
                  },
                  "Inherit": {
                    "title": "Afgeleid van"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Webpage"
        ],
        "summary": "Updates a Webpage",
        "operationId": "Item(Webpage,id).patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Webpage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Webpage object that needs to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webpage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Webpage"
        ],
        "summary": "Deletes a Webpage",
        "operationId": "Item(Webpage,id).delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Webpage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Webpage({id})/file": {
      "post": {
        "tags": [
          "Webpage"
        ],
        "summary": "Adds an attachement to a Webpage object with form data",
        "operationId": "Item(Webpage,id).file(post)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Webpage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "additionalMetadata": {
                    "type": "string",
                    "description": "Additional data to pass to server"
                  },
                  "file": {
                    "type": "string",
                    "description": "file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "aim_auth": [
              "file.write"
            ]
          }
        ]
      }
    },
    "/Webpage({id})/children": {
      "get": {
        "tags": [
          "Webpage"
        ],
        "summary": "Get children of Webpage object by ID",
        "description": "Returns all child objects of a Webpage object",
        "operationId": "Item(Webpage,id).children()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Webpage({id})/references": {
      "get": {
        "tags": [
          "Webpage"
        ],
        "summary": "Get children of Webpage object by ID",
        "description": "Returns all child objects of a Webpage object",
        "operationId": "Item(Webpage,id).references()",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Webpage({id})/Webpage": {
      "get": {
        "tags": [
          "Webpage",
          "Webpage"
        ],
        "summary": "Find Webpage by ID and selects all of schema Webpage",
        "description": "Returns a list of Webpage",
        "operationId": "Item(Webpage,id).link(Webpage,get)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Webpage"
        ],
        "summary": "Adds an attachement to a Webpage object with form data",
        "operationId": "Item(Webpage,id).link(Webpage,post)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Webpage",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "additionalMetadata": {
                    "type": "string",
                    "description": "Additional data to pass to server"
                  },
                  "file": {
                    "type": "string",
                    "description": "file to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Webpage({id})/Webpage({linkId})": {
      "delete": {
        "tags": [
          "Webpage",
          "Webpage"
        ],
        "summary": "Find Webpage by ID and selects all of schema Webpage",
        "description": "Returns a list of Webpage",
        "operationId": "Item(Webpage,id).link(Webpage,delete)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "path",
            "name": "linkId",
            "description": "ItemID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "default_auth": [
              "write:web",
              "read:web",
              "write:all",
              "admin:write",
              "write:admin"
            ]
          }
        ]
      }
    },
    "/Schema": {
      "get": {
        "tags": [
          "Schema"
        ],
        "summary": "Get list of Schema",
        "operationId": "item(Schema).find",
        "parameters": [
          {
            "in": "query",
            "name": "top",
            "description": "Maximum number of records",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "select",
            "description": "List of fieldnames",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Search words seperated with spaces",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order fieldnames sperated with a comma",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Attribute not found"
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "api_key": [
              "schema.read"
            ]
          },
          {
            "aim_auth": [
              "schema.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Schema"
        ],
[...]
